*{
    box-sizing: border-box;
}
body{
    background-color: white;
    padding: 0;
    margin: 0;
    height: fit-content;
}

.button{
    border: black 1px solid;
    border-radius: 5%;
    width: 100%;
    height: 45vh;
    color: white;
    font-size: x-large;
}

.row .col-4:nth-child(odd) button{
    background-color: darkslateblue;
}
.row .col-4:nth-child(even) button{
    background-color: cadetblue;
}

.col-4{
    width: calc((100% / 12) * 4);
    height: 100%;
    padding: 5px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 45%;
}
.buttonContainer{
    height: 100%;
    width: 100%;
    padding: 10px 50px;
    background-color: lightgray;
}